//Colors
$gray: #4E5150;
$dark-gray: #333333;
$medium-gray: #4F4F4F;
$form-gray: #828282;
$orange: #F2994A;
$offwhite: #F2F2F2;
$offgray: #E0E0E0;
$lightest-gray: #BDBDBD;

//Fonts
$montserrat: 'Montserrat', sans-serif;